<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/contact">Contacts</a></li>
    <li class="active">Manage Contact</li>
  </ol>

  <a class="btn btn-primary" routerLink="/contact">Return to Contacts</a>

  <h1>Manage Contact</h1>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm" class="form-horizontal">
    <input [ngModel]="contact?.id" ngModel #userId="ngModel" type="hidden" name="id">
    <div class="form-group">
      <label for="client" class="col-sm-2 control-label">Company</label>
      <div class="col-sm-10">
        <select required [ngModel]="contact?.client.id" class="form-control" id="client" name="client">
          <option [ngValue]="null">-- Select Company --</option>
          <option *ngFor="let company of companies" [ngValue]="company" [value]="company.id">
            {{ company.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="type" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <select required [ngModel]="contact?.type" class="form-control" id="type" name="type">
          <option [ngValue]="null">-- Select Type --</option>
          <option value="Primary">Primary</option> 
          <option value="Secondary">Secondary</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input [ngModel]="contact?.firstName" type="text" class="form-control" id="firstName" name="firstName"
          placeholder="First Name" required minlength="2" maxlength="30">
          <span *ngIf="formErrors.firstName" class="text-danger">
            {{ formErrors.firstName }}
          </span>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input [ngModel]="contact?.lastName" type="text" class="form-control" id="lastName" name="lastName"
          placeholder="Last Name" required minlength="2" maxlength="30">
          <span *ngIf="formErrors.lastName" class="text-danger">
            {{ formErrors.lastName }}
          </span>
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
      <div class="col-sm-10">
        <input [ngModel]="contact?.phoneNumber" type="text" class="form-control" id="phoneNumber" name="phoneNumber"
          placeholder="Phone Number" required minlength="10" maxlength="12" pattern="\d{3}-\d{3}-\d{4}">
          <span *ngIf="formErrors.phoneNumber" class="text-danger">
            {{ formErrors.phoneNumber }}
          </span>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input [ngModel]="contact?.email" type="text" class="form-control" id="email" name="email"
          placeholder="Email" required minlength="2" maxlength="30" pattern="?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
          <span *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email }}
          </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]= "!contactForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</section>