th{
  white-space: nowrap;
  text-align: center;
}
.sort {
  border: none;
  padding: 10;
  background: none;
}
td {
    white-space: nowrap;
}
table {
  margin-left:-15%;
  margin-top: 2%;
}
select#filter {
  margin-right:36%
}

