th{
  white-space: nowrap;
  text-align: center;
}
.sort {
  border: none;
  padding: 10;
  background: none;
}
td {
    white-space: nowrap;
}
table {
  margin-left:-15%;
  margin-top: 2%;
}
div.filterStuff {
  position: absolute;
  right: 31%;
  margin-top: -3%;
}
input#search{
  width: 13.33em;
}

